[Unit]
Description=DiffDock Server
After=network-online.target

[Service]
User=bmaps-server
WorkingDirectory=/opt/diffdock/DiffDockCP
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib
Environment=CUDA_VISIBLE_DEVICES=3
Environment=TORCH_HOME=/opt/diffdock/torch
Environment=VIRTUAL_ENV=/opt/diffdock/venv
ExecStart=/opt/diffdock/venv/bin/python -m cp_diffdock_service --port 9005 --worker_count 1
Restart=always

[Install]
WantedBy=multi-user.target
