[Unit]
Description=DiffDock Server (DEV)
After=network-online.target

[Service]
User=bmaps-server
WorkingDirectory=/opt/diffdock_dev/DiffDockCP
Environment=LD_LIBRARY_PATH=/usr/local/cuda/lib
Environment=CUDA_VISIBLE_DEVICES=3
Environment=TORCH_HOME=/opt/diffdock_dev/torch
Environment=VIRTUAL_ENV=/opt/diffdock_dev/venv
ExecStart=/opt/diffdock_dev/venv/bin/python -m cp_diffdock_service --port 9007 --worker_count 1
Restart=always

[Install]
WantedBy=multi-user.target
